
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
staticfiles/
local_settings.py
db.sqlite3
media/

# Virtualenv
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Pyenv
.python-version

# pipenv
# Ignore virtualenvs in case of multiple environments
pipenv/
Pipfile.lock

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# Caches
*.swp
